<div class="home-component">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">

            <ul class="uk-navbar-nav">
                <li><a class="uk-logo" routerLink="">Navbar</a></li>
                <li><a class="uk-link" routerLink="login" routerLinkActive="active">Login</a></li>
                <li><a class="uk-link"routerLink="signup" routerLinkActive="active">SignUp</a></li>
                <li><a class="uk-link"routerLink="signup" routerLinkActive="active">SignUp</a></li>
            </ul>
        </div>
    </nav>
    <div class="main">
        
    </div>

</div>