<div class="slider-component">
    <div class="uk-position-relative uk-visible-toggle uk-light slider-container" uk-slideshow="animation: push" tabindex="-1"  uk-slideshow="autoplay: true">

        <ul class="uk-slideshow-items">
            <li>
                <img src="../../../assets/Bg1.jpg" alt="" uk-cover>
                <div class="uk-overlay uk-overlay-default uk-position-bottom-right uk-position-small" >
                    <h3 class="uk-margin-remove">Heading 1</h3>
                    <p class="uk-margin-remove">Lorem ipsum dolor sit amet.</p>
                </div>
            </li>
            <li>
                <img src="../../../assets/Bg2.jpg" alt="" uk-cover>
                <div class="uk-overlay uk-overlay-default uk-position-bottom-left uk-position-small" >
                    <h3 class="uk-margin-remove">Heading 2</h3>
                    <p class="uk-margin-remove">Lorem ipsum dolor sit amet.</p>
                </div>
            </li>
            <li>
                <img src="../../../assets/Bg3.jpg" alt="" uk-cover>
                <div class="uk-overlay uk-overlay-default uk-position-bottom-center uk-position-small" >
                    <h3 class="uk-margin-remove">Heading 3</h3>
                    <p class="uk-margin-remove">Lorem ipsum dolor sit amet.</p>
                </div>
            </li>
        </ul>
    
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    
    </div>
</div>
