@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
footer{
    bottom: 0;
    right: 0;
}
footer p{
    font-family: 'Jost', sans-serif;
    text-align: center;
    padding: 8px 0;
    margin-bottom: 0;
}