<header>
    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-center">
            <div>
                <a class="uk-navbar-item uk-logo" href="#">Navbar</a>
                <ul class="uk-navbar-nav">
                    <li><a href="admin/data">Data</a></li>
                    <li><a href="admin/todo-list">Todo List</a></li>
                    <li><a href="admin">Link3</a></li>
                    <li><a href="admin">Link4</a></li>
                    <li><a href="admin">Link5</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>