<div class="cart">
    <div class="cart-container">
        <div class="table">
            <table class="uk-table uk-table-divider">
                <thead>
                    <tr class="thead__tr">
                        <th class="table_title">Items In My Cart</th>
                    </tr>
                </thead>
                <br />
                <thead>
                    
                    <tr>
                       
                        <th class="items">Item</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Final Price</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <td class="items">Item 1</td>
                        <td name="item_price" ngDefaultControl [(ngModel)]="item_price">&#8377; {{item_price}}</td>
                        <td>
                            <a (click)="increment_qty()">
                                <svg width="11" height="11" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="9" y="1" width="1" height="17"></rect>
                                    <rect x="1" y="9" width="17" height="1"></rect>
                                </svg>
                            </a>
                            
                            <span name="qty" ngDefaultControl [(ngModel)]="qty">{{qty}}</span>
                            
                            <a (click)="decrement_qty()">
                                <svg width="11" height="11" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <rect height="1" width="18" y="9" x="1"></rect>
                                </svg>
                            </a>
                        </td>
                        <td name="total_price" ngDefaultControl [(ngModel)]="total_price">&#8377; {{total_price}}</td>
                        <td>
                            <a href="">
                                <svg width="14" height="14" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="none" stroke="#3f3f3f" stroke-width="1.06" d="M16,16 L4,4"></path>
                                    <path fill="none" stroke="#3f3f3f" stroke-width="1.06" d="M16,4 L4,16"></path>
                                </svg>
                            </a>
                        </td>
                    </tr>
                    <tr>
                       
                        <td class="items">Item 1</td>
                        <td name="item_price" ngDefaultControl [(ngModel)]="item_price">&#8377; {{item_price}}</td>
                        <td>
                            <a (click)="increment_qty()">
                                <svg width="11" height="11" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="9" y="1" width="1" height="17"></rect>
                                    <rect x="1" y="9" width="17" height="1"></rect>
                                </svg>
                            </a>
                            
                            <span name="qty" ngDefaultControl [(ngModel)]="qty">{{qty}}</span>
                            
                            <a (click)="decrement_qty()">
                                <svg width="11" height="11" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <rect height="1" width="18" y="9" x="1"></rect>
                                </svg>
                            </a>
                        </td>
                        <td name="total_price" ngDefaultControl [(ngModel)]="total_price">&#8377; {{total_price}}</td>
                        <td>
                            <a href="">
                                <svg width="14" height="14" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="none" stroke="#3f3f3f" stroke-width="1.06" d="M16,16 L4,4"></path>
                                    <path fill="none" stroke="#3f3f3f" stroke-width="1.06" d="M16,4 L4,16"></path>
                                </svg>
                            </a>
                        </td>
                    </tr>
                </tbody>
                
            </table>
            <div class="row">
                <div class="section">
                    <a href="/product"><span uk-icon="icon: arrow-left"></span> Continue Shopping</a>
                </div>
                <div class="section">
                    <p>Total Amount: <span>&#8377; </span></p>
                </div>
            </div>
        </div>
        <div class="summary">
            <h3>Summary</h3>

            <div class="section">
                <div class="section-container">
                    <h5>Sub Total</h5>
                    <p>&#8377; 000</p>
                </div>
                <div class="section-container">
                    <h5>SGST</h5>
                    <p>0.5%</p>
                </div>
                <div class="section-container">
                    <h5>CGST</h5>
                    <p>0.5%</p>
                </div>
            </div>
            <div class="section">
                <div class="section-container">
                    <h5>Total Price</h5>
                    <p>Rs. 000</p>
                </div>
            </div>
            <div class="section">
                <div class="section-container">
                    <button>Proceed to Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>