<header>
    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-center">
            <div>
                <a class="uk-navbar-item uk-logo" href="#">Smartex</a>
                <ul class="uk-navbar-nav">
                    <li><a [routerLink]="['/']">Home</a></li>
                    <!-- <li><a [routerLink]="['/brands']">Brands</a></li>
                    <li><a [routerLink]="['/category']">Category</a></li>
                    <li><a [routerLink]="['/products']">Products</a></li>
                    <li><a [routerLink]="['/contact']">Contact</a></li> -->
                    <li><a [routerLink]="['login']">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>