<div class="table">
    <h2 class="table_h2">Products</h2>
    <table class="uk-table uk-table-divider">
      
      <thead *ngFor="let bu of business_unit">
        
        <tr class="thead__tr">
            <th class="table_id"><strong>Bu_id: {{bu.bu_id}}</strong></th>
        </tr>
        <tr>
            <td class="table_id"><strong>Name:</strong>&nbsp; {{bu.bu_name}} </td>
            <td class="table_id"><strong>Email:</strong>&nbsp; {{bu.bu_email}} </td>
            <td class="table_id"><strong>Contact:</strong>&nbsp; {{bu.bu_contact_name}}</td>
            <td><button  href="#modal-container" uk-toggle>Add</button></td>
        </tr>
      
        
        <tr class="thead_tr">
          <!-- <th>Product Id</th> -->
          <th>Product Code</th>
          <th>Product Name</th>
          <th>Brand Id</th>
          <th>MRP</th>
          <th>Purchase price</th>
          <th>Base price</th>
          <th>Sale price</th>
          <th>HSN</th>
          <th>Action</th>
        </tr>
      </thead>
        <tbody>
          
            <tr *ngFor="let result of product_list">
             
              <!-- <td>{{ result.pro_id }} </td> -->
              <td>{{ result.pro_code }} </td>
              <td>{{ result.pro_name }} </td>
              <td>{{ result.bra_id }} </td>
              <td>{{ result.pro_mrp }} </td>
              <td>{{ result.pro_purprice }} </td>
              <td>{{ result.pro_baseprice }} </td>
              <td>{{ result.pro_saleprice }} </td>
              <td>{{ result.pro_hsn }} </td>
              <td>
                <button type="button" (click)="edit(result)" uk-toggle="target: #modal-center">Edit</button>
                <button type="submit" (click)="deleteProducts(result.pro_id)">Delete</button>
              </td>
            </tr>
          
        </tbody>
    </table>
    <!-- This is the modal -->
    <div id="modal-center" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" #ukclose type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Update Product</h2>
            </div>
            <div class="uk-modal-body">
                <form [formGroup]="formValue" (ngSubmit)="onUpdate()" >
                    <div class="container">
                    
                        <div class="uk-margin">
                            <input class="uk-input" type="text" formControlName="pro_id">
                            <input class="uk-input" type="text" formControlName="pro_code">
                        </div>
                        <div class="uk-margin">
                            <input class="uk-input" type="text" formControlName="pro_name">
                            <input class="uk-input" type="text" formControlName="bra_id">
                        </div>
                        <div class="uk-margin">
                            <input class="uk-input" type="text" formControlName="pro_mrp">
                            <input class="uk-input" type="text" formControlName="pro_purprice">
                        </div>
                        <div class="uk-margin">
                            <input class="uk-input" type="text" formControlName="pro_baseprice">
                            <input class="uk-input" type="text" formControlName="pro_saleprice">
                        </div>
                        <div class="uk-margin">
                            <input class="uk-input" type="text" formControlName="pro_hsn">
                        </div>
                        
                    </div>
                    <button class="uk-button uk-button-primary" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>

    <div id="modal-container" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog uk-modal-body modal">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Add Product</h2>
            </div>
            <div class="uk-modal-body">
                <div class="row">
                    <div class="col-3">
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Pro Id</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-stacked-text" type="text" placeholder="Pro Id">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Pro Code</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Text</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Text</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-modal-footer"></div>
        </div>
    </div>

<div>

