<app-header></app-header>
<app-slider></app-slider>
<div class="about-section">
    <div class="about-column">
        <div class="column">
            <h1 data-aos="zoom-in" data-aos-duration="1000">About Us</h1>
            <p data-aos="fade-left" data-aos-duration="1000">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta temporibus molestiae unde rerum ad
                pariatur nemo totam odio minus voluptatibus expedita ea, corporis a tempore officia nesciunt quos ipsam
                voluptatem.</p>
        </div>
        <div class="column">
            <img src="../../../assets/dark.jpg" alt="" data-aos="fade-left" data-aos-duration="1500">
        </div>
        <div class="column">
            <div class="grid-coulmn">
                
            </div>
            <div class="grid-coulmn">
                <img src="../../../assets/light.jpg" alt="" data-aos="fade-right" data-aos-duration="1500">
            </div>
            <div class="grid-coulmn">
                <img src="../../../assets/light.jpg" alt="" data-aos="fade-up" data-aos-duration="1500">
            </div>
            <div class="grid-coulmn">
                <img src="../../../assets/light.jpg" alt="" data-aos="fade-right" data-aos-duration="1500">
            </div>
            <div class="grid-coulmn">
                <img src="../../../assets/light.jpg" alt="" data-aos="fade-up" data-aos-duration="1500">
            </div>
        </div>
    </div>
</div>

<div class="service-section">
    <div class="service-column">
        <div class="card">
            <h3>Service</h3>
            <a href="" uk-icon="cog"></a>
        </div>
    </div>
</div>